<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>

</head>
<body>
<div th:fragment="tabla_directorio">
    <h2>Tabla de directorio</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th scope="row">Ruta</th>
            <th scope="row">KB</th>
            <th scope="row">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file : ${files}">
            <td th:text="${file.Id}"></td>
            <td th:text="${file?.file.getAbsolutePath()}"></td>
            <td th:text="${file.getKb()}"></td>
            <td><a th:href="@{/fichero/split/{id}(id=${file.Id})}">Split</a>
                / <a th:href="@{/fichero/unsplit/{id}(id=${file.Id})}">UnSplit</a>
                / <a th:href="@{/fichero/splitAndStore/{id}(id=${file.Id})}">SplitAndStore</a>
                / <a th:href="@{/fichero/compare}">Compare</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="tabla_ficheros">
    <H2>Ficheros</H2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th scope="row">Nombre</th>
            <th scope="row">Ext.</th>
            <th scope="row">Tamano</th>
            <th scope="row">Fecha</th>
            <th scope="row">Partes</th>
            <th scope="row">Subido</th>
            <th scope="row">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fichero : ${ficheros}">
            <td th:text="${fichero?.Id}">id</td>
            <td th:text="${fichero?.nombre}">name</td>
            <td th:text="${fichero?.extension}">extension</td>
            <td th:text="${fichero?.bytes}">bytes</td>

            <td
                    th:text="${#dates.format(fichero?.fechaCreacion,'dd/MM/yyyy HH:mm')}">fechaCreacion
            </td>
            <td th:text="${fichero?.partes}">Partes</td>
            <td th:text="${fichero?.uploaded}">Partes</td>
            <td><a th:href="@{/fichero/{id}(id=${fichero.Id})}">Detail</a>
                / <a th:href="@{/fichero/delete/{id}(id=${fichero.Id})}">Delete</a>
                /<a th:href="@{/fichero/upload/{id}(id=${fichero.Id})}">Upload</a>
                / <a th:href="@{/fichero/download/{id}(id=${fichero.Id})}">Download</a>
                / <a th:href="@{/fichero/downloadThread/{id}(id=${fichero.Id})}">Download mAx</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="tabla_map_entry">
    <H2>Ficheros</H2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="row">Id</th>
            <th scope="row">Parte</th>
            <th scope="row">Media Id</th>
            <th scope="row">Url</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="parte : ${partes}">
            <td th:text="${parte?.Id}">id</td>
            <td th:text="${parte?.parte}">Parte</td>
            <td th:text="${parte?.mediaId}">Media Id</td>
            <td th:text="${parte?.url}">url</td>


        </tr>
        </tbody>
    </table>
</div>


<p>Go to the next page to see fragments in action</p>
<aside>
    <div>This is a sidebar</div>
</aside>
<div class="another">This is another sidebar</div>
<footer th:fragment="footer">
    <p>Esto es el footer</p>
</footer>
</body>
</html>