<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="navBarAdmin">
		<p>Barra de Admin</p>
	</div>

	<div th:fragment="navBarUser">
		<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
			<a href="utils"><i class="fas fa-tools"
				style="color: white; margin-right: 10px;"></i></a> <a
				class="navbar-brand" href="initialize">LaBellaProv</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#">Inicio
							<span class="sr-only">(current)</span>
					</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Compañias </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="companies">Ver todas</a> <a
								class="dropdown-item" href="companies/add">Añadir Compañia</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Experar</a>
						</div></li>


					<li class="nav-item"><a class="nav-link" href="#">Alertas</a></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Tiendas </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Ver todos</a> <a
								class="dropdown-item" href="#">Añadir Tienda</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Experar</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Secciones </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Ver todos</a> <a
								class="dropdown-item" href="#">Añadir Seccion</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Experar</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Proveedores </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="providers">Ver todos</a> <a
								class="dropdown-item" href="#">Añadir Proveedor</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Esperar</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Productos </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="products">Ver todos</a> <a
								class="dropdown-item" href="#">Añadir Producto</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Esperar</a>
						</div></li>



					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Pedidos </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Ver todos</a> <a
								class="dropdown-item" href="#">Añadir Pedido</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Experar</a>
						</div></li>

					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Colaboradores </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Ver todos</a> <a
								class="dropdown-item" href="#">Añadir colaborador</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Experar</a>
						</div></li>

					<li class="nav-item"><a class="nav-link disabled" href="#"
						tabindex="-1" aria-disabled="true">Disabled</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Buscar..." aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
				</form>
			</div>
		</nav>
	</div>

</body>
</html>