<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="@{~/layout/simple-layout}">
<head>
<meta charset="UTF-8" />
<title>Vacio</title>

</head>
<body>

	<div layout:fragment="content">
		<h1>File 2 PNG 2 File</h1>

		
	<form action="#" th:action="@{/action}"  method="post">
    	
        <p><input type="submit" value="Convertir fichero en png" /> </p>
    </form>



	</div>

</body>
</html>